# Archivos de seguridad y variables de entorno
.env

# Entornos virtuales y archivos temporales de Python
venv/
__pycache__/
*.pyc

# Imágenes o iconos
*.jpg
*.ico

# Outputs del Agente y configuración local
.streamlit/
generated_images/
historial_chat.json
test_output.pdf