streamlit>=1.30.0
bcrypt
python-dotenv
google-genai
openai
groq
cryptography
pypdf
python-docx
odfpy
pandas
openpyxl
python-pptx
duckduckgo-search
Pillow
requests
pypandoc
edge-tts
extra-streamlit-components
pdf2docx
pdfkit